// colors
$white:#F1F1FB;
$red:#EA4C3C;
$blue:#393A62;
$grayish:#9292AE;
$pinkish:#DBA09E;
$blue-light:#747399;
$font-small:1.4rem;
$font-semi-medium:1.6rem;
$font-medium:2.4rem;
$font-large:3.2rem;